.background{
  background-image: url(../image/boxx.jpg);
  background-repeat: no-repeat;
  background-size: cover;    
  padding-top: 10%;
   padding-bottom: 10%;
}
body{
  background-color: white;
}

h2{
 border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  margin: 0 auto;
  display: table;
  font-size: 50px;
  padding: 15px 0;

}


.background a{
  padding: 15px;
  color: white;
  margin: 20px auto 0 auto;
  display: table;
  border: 1px solid white;
  text-decoration: none;
}
.main{
  background-color: pink;
  margin: 0 auto;
  width: 1200px;
}

header{
 
  height: 50px;
  background-color: #313330;
}

nav a{
  float: right;
  padding: 15px;
  
  text-decoration: none;
  color: white;


}
nav a:hover{
  color: green;
}

.first{
  
  background-color:blue;


}
.first div{

}
.value{
width: 30.33%;  
}

.sec{
  background-color: grey;
}
.third{
  width: 500px;
  float: r
}
























}

/*.pp{background-color: #313330;

}

header{
 
  height: 50px;


}
nav{
  padding-right: 130px;
  height: 50px;


}
nav a{
  float: right;
  padding: 15px;
  text-decoration: none;
  color: white;


}
nav a:hover{
  color: green;
}
.first{
  column-count: 3;
  text-align: justify;
}
.boy{
  padding:0px 130px;
 
}
.sec{
   background-color: #d7dbd6;
}
.third{
  float: right;
  width: 650px;
  text-align: justify;



}
.side{
 /* padding: 20px;
  column-count: 2


}
.four{
  column-count: 2;
  float:left;  /
  text-align: justify;
  padding: 50px 0px;
}
.con{
  color: green;
  padding-left: 40px;
  padding-bottom: 30px;
  border-color: green;

}
.five1{
  width: 350px;
  height: 18px;
  background-color:grey ;

}
.five{
  width: 300px;
  height: 18px;
  background-color: green;
  text-align: right;
  color: white;
  


}
.six1{
  width: 350px;
  height: 18px;
  background-color:grey ;

}


.six{
  width: 280px;
  height: 18px;
  background-color: green;
  text-align: right;
  color: white;

}
.seven1{
  width: 350px;
  height: 18px;
  background-color:grey ;

}
.seven{
  width: 250px;
  height: 18px;
  background-color: green;
  text-align: right;
  color: white;

}
.all{
  padding-right: 30px;
  margin-left: 130px;
}
.dog{
  text-align: center;

  background-color: #d7dbd6;

}
/*.bb{
  background-color: yellow;
}*/
/*/*//*/*//*.my{
  width: 500px;

}
.dip{
  float: left;
 /* width: 350px;*/
  /*text-align: justify;
  margin-left: 50px;
*/

/*h5{
  width: 45px;
  height: 18px;
  background-color: green;
}
.hold{
  column-count: 2;
  margin-top:  50px;

}
.ex{
  width: 300px
}
.lead{
  width: 300px;

}
.work{
  column-count: 2
}
.irene{
  background-color: #d7dbd6;
  height: 150px;
  padding: 100px 10px;
}
.port{
  text-align: center;
}
.flo img{
  margin-left:  40px;
  margin-top: 20px;



}
.me{
  background-color: #222322;
  column-count: 2;
  color: white;
}
.name{
 float: right;
 padding: 30px;
}
footer{
  background-color: black;
  height: 100px;
  margin-bottom: 50px;
}

*/